@font-face {
    font-family: "GmarketSans";
    src: url("./assets/fonts/GmarketSansTTFLight.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSans";
    src: url("./assets/fonts/GmarketSansTTFMedium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSans";
    src: url("./assets/fonts/GmarketSansTTFBold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}

html, body {
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
    width:100%;
    overflow-x:hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #171b29;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1122px;
    width: 100%;
}

header nav h1 {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    gap: 44px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .popup-background {
    position      : fixed;
    left          : 0;
    top           : 0;
    z-index       : 999;
    width         : 100%;
    height        : 100%;
    background    : rgba(0, 0, 0, 0.9);
    display       : none;
    flex-direction: column;
    overflow-y    : scroll;
    padding       : 60px 0;
}

main .popup-background .popup {
    position        : relative;
    margin          : auto;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px;
    box-shadow: 3px 3px 6px 0 #000;
    border: solid 1px #86b0ff;
    background-color: #171b2a;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 0 20px;
    max-width: 640px;
    height: 96px;
}

main .popup-background .popup p {
    padding: 0 30px;
}

main section {
    max-width: 1122px;
}

main .main-banner {
    width: 100%;
}

main .about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .about-container h5 {
    text-align: center;
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: 300;
    margin-top: 172px;
    margin-bottom: 58px;
}

main .about-container .progress {
    width: 132px;
    height: 4px;
    background-color: #3c3f49;
    border-radius: 8px;
}

main .about-container .progress .bar {
    width: 44px;
    height: 4px;
    background-color: #86b0ff;
    border-radius: 8px;
}

main .about-container h6 {
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

main .about-container p {
    font-family: GmarketSans;
    font-weight: 300;
    opacity: 65%;
}

main .about-container h5 span {
    color: #86b0ff;
    font-weight: 500;
}


main .about-container .grid-container {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-top: 65px;
}

main .about-container .grid-container .item {
    max-width: 360px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #171b29;
    padding: 30px;
}

main .about-container .grid-container .item p {  
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.48px;
    text-align: left;
    color: #fff;
    margin-bottom: 49px;
}

main .sbt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .sbt-container h5 {
    text-align: center;
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: 300;
    margin-top: 172px;
    margin-bottom: 58px;
}

main .sbt-container .progress {
    display: flex;
    justify-content: center;
    width: 132px;
    height: 4px;
    background-color: #3c3f49;
    border-radius: 8px;
}

main .sbt-container .progress .bar {
    width: 44px;
    height: 4px;
    background-color: #86b0ff;
    border-radius: 8px;
}

main .sbt-container h6 {
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

main .sbt-container p {
    font-family: GmarketSans;
    font-weight: 300;
    opacity: 65%;
}

main .sbt-container h5 span {
    color: #86b0ff;
    font-weight: 500;
}


main .sbt-container .grid-container {
    width: 100%;
    display: flex;
    gap: 16px;
    margin-top: 65px;
}

main .sbt-container .grid-container .item {
    max-width: 548px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #171b29;
    padding: 30px;
}

main .sbt-container .grid-container .item p {  
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.48px;
    text-align: left;
    color: #fff;
    margin-bottom: 49px;
}

main .sbt-container .grid-container .item .more-container{  
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
}

main .fee-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .fee-container h5 {
    text-align: center;
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: 300;
    margin-top: 172px;
    margin-bottom: 58px;
}

main .fee-container .progress {
    display: flex;
    justify-content: flex-end;
    width: 132px;
    height: 4px;
    background-color: #3c3f49;
    border-radius: 8px;
}

main .fee-container .progress .bar {
    width: 44px;
    height: 4px;
    background-color: #86b0ff;
    border-radius: 8px;
}

main .fee-container h6 {
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

main .fee-container p {
    font-family: GmarketSans;
    font-weight: 300;
    opacity: 65%;
}

main .fee-container h5 span {
    color: #86b0ff;
    font-weight: 500;
}


main .fee-container .grid-container {
    display: flex;
    gap: 16px;
    margin-top: 65px;
    width: 100%;
}

main .fee-container .grid-container .item {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #171b29;
}

main .fee-container .grid-container .item .caption {
    display: flex;
    align-items: center;
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 57px;
}

main .fee-container .grid-container .item .caption .green {
    font-weight: bold;
    color: #76e170;
    margin-right: 8px;
}

main .fee-container .grid-container .item .caption .blue {
    font-weight: bold;
    color: #86b0ff;
    margin-right: 8px;
}

main .fee-container .grid-container .item h6 {
    font-size: 70px;
    opacity: 0.65;
    margin-left: 30px;
}

main .fee-container .grid-container .item h6 .unit {
    font-size: 40px;
    margin-left: 4px;
}

main .fee-container .grid-container .item hr {
    height: 0;
    border: solid 1px #383e52;
}

main .fee-container .grid-container .item .date {
    margin-top: 55px;
    text-align: center;
}

main .fee-container .grid-container .item-win {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #171b29;
}

main .fee-container .grid-container .item-win .caption {
    display: flex;
    align-items: center;
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 57px;
}

main .fee-container .grid-container .item-win .caption .green {
    font-weight: bold;
    color: #76e170;
    margin-right: 8px;
}

main .fee-container .grid-container .item-win .caption .blue {
    font-weight: bold;
    color: #86b0ff;
    margin-right: 8px;
}

main .fee-container .grid-container .item-win h6 {
    font-size: 70px;
    margin-left: 30px;
}

main .fee-container .grid-container .item-win h6 .unit {
    font-size: 40px;
    margin-left: 4px;
}

main .fee-container .grid-container .item-win hr {
    height: 0;
    border: solid 1px #383e52;
}

main .fee-container .grid-container .item-win .date {
    margin-top: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .fee-container .grid-container .item-win .date span {
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
    font-weight: bold;
    margin-left: 4px;
}

main .fee-container .graph {
    margin-top: 15px;
}

main .contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .contact-container h5 {
    text-align: center;
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: 300;
    margin-top: 172px;
    margin-bottom: 58px;
}

main .contact-container .progress {
    display: flex;
    justify-content: flex-end;
    width: 132px;
    height: 4px;
    background-color: #3c3f49;
    border-radius: 8px;
}

main .contact-container .progress .bar {
    width: 100%;
    height: 4px;
    background-color: #86b0ff;
    border-radius: 8px;
}

main .contact-container h5 span {
    color: #86b0ff;
    font-weight: 500;
}


main .contact-container .grid-container {
    width: 100%;
    display: flex;
    gap: 16px;
    margin-top: 65px;
}

main .contact-container .grid-mobile-container {
    display: none;
}

main .contact-container .grid-container .item {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #171b29;
    padding: 30px;
}

main .contact-container .grid-container .item p {
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

main .contact-container .grid-container .item h6 {
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 62px;
}

main .contact-container .grid-container .item .img-container {
    display: flex;
    justify-content: center;
}

main .contact-container .grid-container .item .more-container {
    font-family: GmarketSans;
    font-size: 20px;
    font-weight: 300;
    margin-top: 68px;
    display: flex;
    justify-content: flex-end;
}

main .mint-container h5 {
    font-family: GmarketSans;
    font-size: 88px;
    font-weight: bold;
    color: #86b0ff;
    margin-top: 266px;
    margin-bottom: 0;
}

main .mint-container h6 {
    font-family: GmarketSans;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    margin-top: 17px;
}

main .mint-container span {
    font-size: 24px;
    font-weight: 300;
}

main .mint-container .button-container {
    display: flex;
    gap: 16px;
    margin-top: 64px;
}

main .mint-container .button-container a {
    display: flex;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    background-color: #86b0ff;
    max-width: 360px;
    width: 100%;
    height: 80px;
    font-family: GmarketSans;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #000;
}

main .mint-container .button-container .disabled {
    display: flex;
    border-radius: 14px;
    background-color: #707070;
    height: 80px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171b29;
    height: 116px;
    margin-top: 282px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: #969696;
}

@media all and (max-width:767px) {
    header {
        display: none;
    }

    main .about-container {
        width: 90%;
    }

    main .about-container h5 {
        text-align: center;
        font-family: GmarketSans;
        font-size: 20px;
        font-weight: 300;
        margin-top: 115px;
        margin-bottom: 29px;
    }

    main .about-container .grid-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 65px;
    }

    main .about-container .grid-container .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    main .sbt-container {
        width: 90%;
    }

    main .sbt-container h5 {
        text-align: center;
        font-family: GmarketSans;
        font-size: 20px;
        font-weight: 300;
        margin-top: 66px;
        margin-bottom: 29px;
    }

    main .sbt-container .grid-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 65px;
        padding: 30px;
    }

    main .sbt-container .grid-container .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    main .sbt-container .grid-container .item .more-container {
        flex-direction: column;
    }

    main .sbt-container .grid-container .item .more-container .img-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    main .sbt-container .grid-container .item .more-container a {
        margin-top: 6px;
        font-size: 12px;
        font-weight: 300;
    }

    main .fee-container {
        width: 90%;
    }

    main .fee-container h5 {
        text-align: center;
        font-family: GmarketSans;
        font-size: 20px;
        font-weight: 300;
        margin-top: 115px;
        margin-bottom: 29px;
    }

    main .fee-container .grid-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 65px;
        width: 100%;
    }

    main .fee-container .grid-container .item {
        justify-content: center;
        width: 100%;
    }

    main .fee-container .grid-container .item h6 {
        font-size: 41px;
    }

    main .fee-container .grid-container .item h6 .unit {
        font-size: 13px;
    }

    main .fee-container .grid-container .item .date {
        margin-top: 46px;
        font-size: 14px;
    }

    main .fee-container .grid-container .item-win {
        justify-content: center;
    }

    main .fee-container .grid-container .item-win h6 {
        font-size: 41px;
    }

    main .fee-container .grid-container .item-win h6 .unit {
        font-size: 13px;
    }

    main .fee-container .grid-container .item-win .date {
        margin-top: 46px;
        font-size: 14px;
    }

    main .fee-container .grid-container .item-win .date span {
        font-size: 14px;
    }

    main .fee-container img {
        width: 100%;
    }

    main .contact-container {
        width: 90%;
    }

    main .contact-container h5 {
        text-align: center;
        font-family: GmarketSans;
        font-size: 20px;
        font-weight: 300;
        margin-top: 115px;
        margin-bottom: 29px;
    }

    main .contact-container .grid-container {
        display: none;
    }

    main .contact-container .grid-mobile-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 65px;
    }

    main .contact-container .grid-mobile-container .item {
        width: 100%;
        border-radius: 14px;
        background-color: #171b29;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0px;
    }

    main .contact-container .grid-mobile-container .item .title {
        display: flex;
        flex-direction: column;
        margin-right: 71px;
    }

    main .contact-container .grid-mobile-container .item .title p {
        font-family: GmarketSans;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }

    main .contact-container .grid-mobile-container .item .title h6 {
        font-family: GmarketSans;
        font-size: 29px;
        font-weight: bold;
        margin: 0;
    }

    main .contact-container .grid-mobile-container .item .content {
        display: flex;
        flex-direction: column;
    }

    main .contact-container .grid-mobile-container .item .content a {
        font-family: GmarketSans;
        font-size: 12px;
        font-weight: 300;
        margin-top: 28px;
        opacity: 0.6;
    }

    main .mint-container h5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }


    main .mint-container h5 {
        font-family: GmarketSans;
        font-size: 37px;
        font-weight: bold;
        color: #86b0ff;
        margin-top: 90px;
    }

    main .mint-container h6 {
        font-size: 17px;
        font-weight: 300;
    }

    main .mint-container h6 span {
        font-size: 10px;
        font-weight: 300;
    }

    main .mint-container .button-container {
        margin-top: 27px;
    }

    main .mint-container .button-container .disabled {
        display: none;
    }

    footer {
        opacity: 0.3;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 300;
        margin-top: 129px;
    }
}